
<div class="flexible-table">
    <table-configuration
        *ngIf="configurable && items && items.length"
        class="table-configuration" 
        [headers]="headers" 
        [title]="vocabulary.configureColumns" 
        [printTable]="vocabulary.printTable"
        [action]="vocabulary.configureTable"
        (onprint)="viewTable.print()"
        (onchange)="reconfigure($event)"></table-configuration>
        
    <table-view #viewTable
        [action]="action"
        [actionKeys]="actionKeys"
		[tableClass]="tableClass"
		[caption]="caption" 
		[headers]="subHeaders" 
		[items]="items" 
        [pageInfo]="pageInfo"
        [vocabulary]="vocabulary"
		[enableIndexing]="enableIndexing"
		[enableFiltering]="enableFiltering"
        [rowDetailer]="rowDetailer"
        [expandable]="expandable"
        (onDrop)="onDrop($event)"
        (onchange)="reconfigure($event)"
		(onaction)="tableAction($event)"></table-view>
</div>
<table-pagination 
    [info]="pageInfo" 
    [vocabulary]="vocabulary"
    (onchange)="onPaginationChange($event)"></table-pagination>
