
<div class="flexible-table">
    <table-configuration
        *ngIf="configurable && items && items.length"
        class="table-configuration" 
        [headers]="headers" 
        [title]="vocabulary.configureColumns" 
        [printTable]="vocabulary.printTable"
        [action]="vocabulary.configureTable"
        [configAddon]="configAddon"
        (onprint)="viewTable.print()"
        (onchange)="reconfigure($event)"></table-configuration>
        
    <table-view #viewTable
        [action]="action"
        [actionKeys]="actionKeys"
		[tableClass]="tableClass"
		[tableInfo]="tableInfo"
		[caption]="caption" 
		[headers]="subHeaders" 
        [items]="formeditems" 
        [filterwhiletyping]="filterwhiletyping"
		[headerSeparation]="headerSeparation"
        [pageInfo]="pageInfo"
        [vocabulary]="vocabulary"
		[enableIndexing]="enableIndexing"
		[enableFiltering]="enableFiltering"
        [rowDetailer]="rowDetailer"
        [rowDetailerHeaders]="rowDetailerHeaders"
        [expandable]="expandable"
        [expandIf]="expandIf"
        (onDrop)="onDrop($event)"
        (onfilter)="onTableFilter($event)"
		(onCellContentEdit)="onCellEdit($event)"
        (onchange)="reconfigure($event)"
		(onaction)="tableAction($event)"></table-view>
</div>
<table-pagination 
    [info]="pageInfo" 
    [inline]="inlinePagination" 
    [vocabulary]="vocabulary"
    (onchange)="onPaginationChange($event)"></table-pagination>
