<div class="caption">
	<table-configuration
		*ngIf="configurable" 
		[headers]="headers" 
		[title]="vocabulary.configureColumns" 
		[action]="vocabulary.configureTable"
		[configAddon]="configAddon"
		(onchange)="reconfigure($event)"></table-configuration>

	<div *ngIf="caption" [textContent]="caption"></div>
</div>
<div class="smart-table-wrap" (scroll)="scroll($event)">
	<table-view #lockedTable
		class="locked-table"
		lockable="true"
		[headers]="lockedHeaders" 
		[items]="filteredItems" 
        [pageInfo]="pageInfo"
        [vocabulary]="vocabulary"
        [filterwhiletyping]="filterwhiletyping"
		[enableFiltering]="enableFiltering"
		[enableIndexing]="enableIndexing"
        
		(onchange)="onlock($event)"
		(onDrop)="onDrop($event)"
        (onfilter)="onTableFilter($event)"
		(onCellContentEdit)="onCellEdit($event)"
		(onfilter)="changeUnlockedTableFilteredItems($event)"
		(onaction)="tableAction($event)"></table-view>

    <table-view #unlockedTable
		class="unlocked-table"
		lockable="true"
		[headers]="unlockedHeaders" 
		[items]="filteredItems" 
        [pageInfo]="pageInfo"
        [vocabulary]="vocabulary"
        [filterwhiletyping]="filterwhiletyping"
		[enableFiltering]="enableFiltering"

		(onDrop)="onDrop($event)"
        (onfilter)="onTableFilter($event)"
		(onchange)="onlock($event)"
		(onCellContentEdit)="onCellEdit($event)"
		(onfilter)="changeLockedTableFilteredItems($event)"
		(onaction)="tableAction($event)"></table-view>
	
</div>
<table-pagination #pager
	[info]="pageInfo" 
    [inline]="inlinePagination" 
	[vocabulary]="vocabulary" 
    (onchange)="onPaginationChange($event)"></table-pagination>
