
<div class="showcase {{position}}">
    <div class="showcase-control {{position}}" 
        role="list" 
        [style.width]="position === 'top' ? width + 'px' : null" 
        [style.height]="position === 'left' ? height + 'px' : null"
        *ngIf="position === 'top' || position === 'left'">
        <div class="slide-control" 
            [class.left]="position == 'top'"
            [class.up]="position == 'left'"
            *ngIf="paginate" 
            (click)="shiftDisplay(position, false)">
            <span *ngIf="position === 'top'" class="fa fa-angle-left" aria-hidden="true"></span>
            <span *ngIf="position === 'left'" class="fa fa-angle-up" aria-hidden="true"></span>
        </div>
        <div class="sliding-viewport" [class.paginate]="paginate" #slider>
        <a *ngFor="let item of thumbnails; let i = index" 
            role="listitem" 
            tabindex="0"
            (keyup)="keyup($event)" 
            (click)="selectTab(i)"
            (focus)="hoverTab(i, false)"
            (mouseenter)="hoverTab(i, true)"
            (mouseleave)="hoverItem = undefined"
            [title]="item.title" 
            [class.selected]="item.selected">
            <span class="off-screen" [textContent]="message"></span>
            <span class="title off-screen" [textContent]="item.title"></span>
            <img  class="content" [src]="item.src.small" *ngIf="item.type === 'image'" />
            <video height="100%" class="content" *ngIf="item.type === 'video'" disabled="disabled" tabindex="-1">
                <source [src]="item.src.mp4" type="video/mp4">
                <source [src]="item.src.webm" type="video/webm">
                <source [src]="item.src.egg" type="video/ogg">
            </video>
        </a>
        </div>
        <div class="slide-control" 
            [class.right]="position == 'top'"
            [class.down]="position == 'left'"
            *ngIf="paginate" 
            (click)="shiftDisplay(position, true)">
            <span *ngIf="position === 'top'" class="fa fa-angle-right" aria-hidden="true"></span>
            <span *ngIf="position === 'left'" class="fa fa-angle-down" aria-hidden="true"></span>
        </div>
    </div>
    <div 
        class="showcase-viewport" 
        [style.width]="width + 'px'" 
        [style.height]="height + 'px'"
        (mouseout)="hoverOut($event)"
        (mouseover)="hoverOver($event, selectedItem)"
        (mousemove)="hoverViewPort($event)">
        <img  class="content" 
                [src]="hoverItem ? hoverItem.src.medium : selectedItem.src.medium" 
                *ngIf="(hoverItem ? hoverItem.type === 'image' : selectedItem.type === 'image')" />
        <img  class="hover" #largeImage
                [style.width]="(width*2) + 'px'"
                [style.height]="(height*2) + 'px'"
                [src]="selectedItem.src.large" 
                *ngIf="zoomOnHover && selectedItem.type === 'image'" />
        <video  
            class="content" #video
            [style.width]="width + 'px'" 
            [style.height]="height + 'px'"
            (play)="videoPlayed(selectedItem, video.currentTime)"
            (pause)="videoPaused(selectedItem, video.currentTime)"
            (ended)="videoEnded(selectedItem, video.currentTime)"
            *ngIf="(hoverItem ? hoverItem.type === 'video' : selectedItem.type === 'video')" controls>
            <source [src]="hoverItem ? hoverItem.src.mp4 : selectedItem.src.mp4" type="video/mp4">
            <source [src]="hoverItem ? hoverItem.src.webm : selectedItem.src.webm" type="video/webm">
            <source [src]="hoverItem ? hoverItem.src.egg : selectedItem.src.egg" type="video/ogg">
        </video>
    </div>
    <div class="showcase-control {{position}}" 
        role="list" 
        [style.width]="position === 'bottom' ? width + 'px' : null" 
        [style.height]="position === 'right' ? height + 'px' : null"
        *ngIf="position === 'bottom' || position === 'right'">
        <div class="slide-control" 
            [class.left]="position == 'bottom'"
            [class.up]="position == 'right'"
            *ngIf="paginate" 
            (click)="shiftDisplay(position, false)">
            <span *ngIf="position === 'bottom'" class="fa fa-angle-left" aria-hidden="true"></span>
            <span *ngIf="position === 'right'" class="fa fa-angle-up" aria-hidden="true"></span>
        </div>
        <div class="sliding-viewport" [class.paginate]="paginate" #slider>
        <a *ngFor="let item of thumbnails; let i = index" 
            role="listitem" 
            tabindex="0"
            (keyup)="keyup($event)" 
            (click)="selectTab(i)"
            (focus)="hoverTab(i, false)"
            (mouseenter)="hoverTab(i, true)"
            [title]="item.title" 
            [class.selected]="item.selected">
            <span class="off-screen" [textContent]="message"></span>
            <span class="title off-screen" [textContent]="item.title"></span>
            <img  class="content" [src]="item.src.small" *ngIf="item.type === 'image'" />
            <video  height="100%" class="content" *ngIf="item.type === 'video'" disabled="disabled" tabindex="-1">
                <source [src]="item.src.mp4" type="video/mp4">
                <source [src]="item.src.webm" type="video/webm">
                <source [src]="item.src.egg" type="video/ogg">
            </video>
        </a>
        </div>
        <div class="slide-control" 
            [class.right]="position == 'bottom'"
            [class.down]="position == 'right'"
            *ngIf="paginate" 
            (click)="shiftDisplay(position, true)">
            <span *ngIf="position === 'bottom'" class="fa fa-angle-right" aria-hidden="true"></span>
            <span *ngIf="position === 'right'" class="fa fa-angle-down" aria-hidden="true"></span>
        </div>
    </div>
</div>
