:host {
    box-sizing: border-box;
    padding: 2px;
    position: absolute;
    right: 8px;
    top: 18px;
    z-index: 2;

    a {
        display: block;
        float: left;
        padding: 0 0 0 10px;
        cursor: pointer;
        z-index: 5;

        .icon {
            color: #00925b;
        }
        .off-screen {
            display: block;
            text-indent: -9999px;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    .shim {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }
    ul {
        background-color: #fff;
        border: 1px solid #999;
        border-radius: 4px;
        display: flex;
        list-style: none;
        max-height: 200px;
        margin: 0 2px;
        min-width: 200px;
        overflow-y: auto;
        position: absolute;
        padding: 0 0 8px 0;
        right: 0px;
        box-shadow: 6px 8px 6px -6px #1b1b1b;
        z-index: 6;

        p {
            margin: 0;
            padding: 1px 5px;
            background-color: cadetblue;
            color: #fff;
        }

        li {
          white-space: nowrap;
          text-align: left;
          flex-direction: row;
          padding: 1px 5px;

          label {
              input {
                flex: 0 0 30%;
                margin-top: 4px;
            }
          }
          .title {
              flex: 0 0 30%;
              font-weight: bold;
          }
        }
    }
}
