
<div class="shim"
    [style.display]="showConfigurationView ? 'block':'none'"
    (click)="showConfigurationView = !showConfigurationView"></div>
<a  [attr.tabindex]="0"
    (keyup)="keyup($event)"
    (click)="showConfigurationView = !showConfigurationView">
    <span class="icon fa fa-gear" aria-hidden="true"></span>
    <span class="off-screen" [textContent]="action"></span>
</a>
<ul role="list" [style.display]="showConfigurationView ? 'block':'none'">
    <p [textContent]="title"></p>
    <li  *ngFor="let header of headers" role="listitem">
        <label for="{{header.key ? header.key+'f':'f'}}">
            <input type="checkbox" #filter
                    [id]="header.key ? header.key+'f':'f'"
                    [checked]="header.filter !== undefined"
                    (keyup)="keyup($event)"
                    (click)="enableFilter(filter, header)" />
            <span>Filrer</span>
        </label>
        <label for="{{header.key ? header.key+'c':'c'}}">
            <input type="checkbox" #checkbox
                    [id]="header.key ? header.key+'c':'c'"
                    [value]="header.key"
                    [checked]="header.present"
                    (keyup)="keyup($event)"
                    (click)="reconfigure(checkbox, header)" />
            <span>Show</span>
        </label>
        <span>: </span>
        <span [textContent]="header.value"></span>
    </li>
</ul>
