
<table [class]="tableClass"  #flexible>
    <caption *ngIf="caption" [textContent]="caption"></caption>
    <thead>
        <tr>
            <th scope="col" *ngIf="enableIndexing" id="indexable" class="indexable"></th>
            <th scope="col" *ngFor="let header of headers"
                [dragEnabled]="dragEnabled.bind(this)"
                [dropEnabled]="dropEnabled.bind(this)"
                [medium]="header"
                (onDragStart)="onDragStart($event)"
                (onDragEnd)="onDragEnd($event)"
                (onDrop)="onDrop($event)"
                [id]="header.key"
                [attr.width]="header.width ? header.width : null" 
                [attr.tabindex]="header.sortable ? 0 : -1"
                (keydown)="keydown($event, th)" (click)="sort(header, icon)">
                <span *ngIf="header.sortable" class="off-screen"  [textContent]="vocabulary.clickSort"></span>
                <span class="locker icon fa" #locker
                        *ngIf="lockable && (headers.length > 1 || header.locked)"
                        tabindex="0"
                        title="lock/unlock this column"
                        (keydown)="keydown($event, locker)" (click)="lock(header, $event)"
                        [class.fa-lock]="header.locked"
                        [class.fa-unlock]="!header.locked"></span>
                <span class="title"
                        [class.dragable]="header.dragable"
                        [textContent]="header.value"></span>
                <span class="icon fa" #icon
                        [class.fa-sort]="header.sortable"
                        [class.fa-sort-asc]="header.assending"
                        [class.fa-sort-desc]="header.desending"></span>
            </th>
            <th scope="col" *ngIf="action" id="actionable" class="actionable"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="enableFiltering && items && items.length">
            <td scope="row" *ngIf="enableIndexing" class="index filter">
                <input type="text" disabled style="opacity:0" />
            </td>
            <td scope="row" *ngFor="let header of headers; let i=index" class="filter">
                <span *ngIf="header.filter === undefined">&nbsp;</span>
                <input  *ngIf="header.filter !== undefined"
                        id="filter-{{i}}"
                        type="text" 
                        (keyup)="changeFilter($event, header)"
                        [value]="header.filter ? header.filter : ''" />
                <label *ngIf="header.filter !== undefined" for="filter-{{i}}" ><span class="off-screen" >Filter "{{header.value}}"</span><span class="fa fa-search"></span></label>
            </td>
            <td scope="row" *ngIf="action"></td>
        </tr>
       <ng-template ngFor let-item [ngForOf]="filteredItems" let-i="index">
            <tr *ngIf="i >= pageInfo.from && i <= pageInfo.to "
                (click)="actionClick($event, item)"
                (mouseover)="hover(item, true)"
                (mouseout)="hover(item, false)"
                [class.pointer]="action"
                [class.hover]="item.hover"
                [class.expanded]="item.expanded"
                [class.odd]="i%2">
                <td scope="row" class="index" *ngIf="enableIndexing">{{i + 1}}</td>
                <td scope="row" 
                    *ngFor="let header of headers" 
                    [attr.data-label]="header.value" 
                    [intoName]="header.value"
                    [intoId]="header.key + '-' + i"
                    [into]="header.format"
                    [rawContent]="cellContent(item, header)"
                    [onComponentChange]="onTableCellEdit.bind(this)"></td>
                <td scope="row" *ngIf="action">
                    <a class="actionable"
                        *ngIf="expandable(item, true)"
                        tabindex="0"
                        role="button"
                        style="cursor:pointer"
                        [class.expanded]="item.expanded" #clicker
                        (keydown)="keydown($event, clicker)" (click)="actionClick($event, item)">
                        <span
                            class="icon fa"
                            [class.fa-angle-right]="!rowDetailer"
                            [class.fa-minus-square-o]="rowDetailer && item.expanded"
                            [class.fa-plus-square-o]="rowDetailer && !item.expanded"
                            aria-hidden="true"></span>
                        <span class="off-screen" [textContent]="offScreenMessage(item)"></span>
                    </a>
                </td>
            </tr>
            <tr *ngIf="rowDetailer && item.expanded" class="detail" [class.odd]="i%2">
                <td scope="row" class="index" *ngIf="enableIndexing"></td>
                <td [attr.colspan]="columnsCount()">
                    <ng-container [ngTemplateOutlet]="rowDetailer" [ngTemplateOutletContext]="rowDetailerContext(item)"></ng-container>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
