:host {
    display: inline-block !important;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    .off-screen {
        display: block;
        float: left;
        height: 0;
        overflow: hidden;
        text-indent: -99999px;
        width: 0;
    }

    table {
        margin: 1rem auto;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        max-width: 99%;
        background-color: transparent;
        border-collapse: collapse;

        caption {
            background-color: #c3e5e2;
            border-radius: 2px;
            color: #1b1b1b;
            caption-side: top;
            font-size: 14px;
            padding: 5px 6px;
            margin-bottom: 15px;
            text-align: left;
        }
        thead {
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            background-color: #eee;
        }
        tr {
            border: 0;

            &.expanded {
                td {
                    font-weight: bold;
                }
            }
        }

        td {
            padding-left: 3px;
            min-height: 23px;
            &.index {
                span {
                    display: block;
                    height: 23px;
                }
            }

            &:first-child {
                padding-left: 5px;
            }
            ::ng-deep input-component {
                .locked, input {
                    width: 99%;
                }
            }
			.off-screen {
				display: block;
				float: left;
				height: 0;
				overflow: hidden;
				text-indent: -99999px;
                width: 0;
            }
            &.filter {
                padding: 0;
                position: relative;

                input {
                    box-sizing: border-box;
                    width: 100%;
                    margin: 0;
                }
                .fa {
                    position: absolute;
                    top: 4px;
                    right: 2px;
                    color: #bad;
                }
            }
                
            ::ng-deep img {
                height: 24px;
            }
        }
        td.index {
            background-color: #eee;
            border-right: 1px solid #bbb;
        }
        th {
            cursor: default;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            height: 24px;
            position: relative;
            white-space: nowrap;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 14px;
            padding-top: 6px;
            padding-bottom: 6px;
            text-align: left;

            &.drag-over {
                background-color: #9b9b9b;

                .title, .icon {
                    color: #eee;
                }
            }

            &:first-child {
                padding-left: 5px;
            }

            &.descending, &.ascending, &.sortable {
                cursor: pointer;
                height: 12px;
            }

            &.indexable {
                width: 33px;
            }

            &.actionable {
                width: 24px;
            }

            .hidden {
                display: none;
            }

            .title {
                color: #254A4D;
                display: inline-block;
                height: 20px;
                white-space: nowrap;
            }
            .dragable {
                cursor: move;
            }
            .icon {
                width: 22px;
                display: inline-block;
                height: 20px;
                color: #254A4D;
            }
        }
    }
    .fa.fa-angle-right {
        font-size: 18px;
    }
}

table tr.expanded td {
    border-bottom: 0;
}
table tr.detail td {
    border-top: 0;
    cursor: default;
}
table tr.expanded td a.expanded {
    background-position: right 2px;
}
table tbody tr:hover, table tbody tr.hover {
    background-color: #FFEED2;
}
table tbody tr.detail:hover,
table tbody tr.detail.hover,
table tbody tr.detail:hover td table thead tr,
table tbody tr.detail.hover td table thead tr {
    background-color: inherit;
}

table tr td a.actionable {
    display: inline-table;
    height: 32px;
    vertical-align: middle;
    width: 25px;
    line-height: 30px;
    color: #254A4D;
}
table tbody tr.detail:hover td:last-child,
table tbody tr.detail.hover td:last-child{
    border-right: 0;
}
table tbody tr.detail:hover td:first-child,
table tbody tr.detail.hover td:first-child{
    border-left: 0;
}
table tr td {
    border-bottom: 1px solid #B1B3B3;
    color: #254a5d;
    font-size: 15px;
    text-transform: capitalize;
}

table tbody tr.pointer {
    cursor: pointer;
}

table.alert-danger {
    border: 0;

    caption {
        background-color: transparent;
        font-weight: bold;
        margin-bottom: 0;
    }
    td {
        border-bottom: 0;
        display: block;

        &:first-child {
           padding-left: 0px;
        }
        &:last-child {
          border-bottom: 0;
        }
        &:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
          width: 20%;
        }
        a span.icon {
          width: 100%;
        }
    }
    thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    tr {
        border: 2px solid #fff;
        display: block;
        margin-bottom: .625em;
        padding: 5px;
        border-radius: 5px;

      th.actionable {
         width: inherit;
      }
        td {
          border-bottom: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    table {
        border: 0;

        td {
            border-bottom: 0;
            display: block;
            text-align: right;

            &:first-child {
               padding-left: 0px;
            }
            &:last-child {
              border-bottom: 0;
            }
            &.filter {
                input {
                    width: 50% !important;
                }
                .fa {
                    right: 7px !important;
                }
            }
            &:before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
              text-transform: uppercase;
            }
            a span.icon {
              width: 100%;
            }
        }
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: .625em;

          th.actionable {
             width: inherit;
          }
            td {
              border-bottom: 0;
            }
        }
    }
    table.alert-danger {
        td {
            &:before {
                width: inherit;
            }
        }
    }
}
